@import url("https://fonts.googleapis.com/css2?family=DM+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.section {
  padding: 0 135px;
  width: 100%;
}

@media (max-width: 992px) {
  .section {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .section {
    padding: 0 30px;
  }
}
@media (max-width: 600px) {
  .section {
    padding: 0 20px;
  }
}
@media (max-width: 400px) {
  .section {
    padding: 0 16px;
  }
}
.header {
  display: flex;
  flex-direction: column;
  background: #FDF0E9;
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.header-nav-logo {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header-nav-menus {
  display: flex;
  gap: 50px;
}
.header-nav-menus a {
  font-size: 16px;
  color: #333;
  transition: all 0.2s;
}
.header-nav-menus a:hover {
  color: #F07867;
}
.header-nav-links {
  display: flex;
  gap: 8px;
}
.header-nav-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  font-size: 20px;
  border: 1px solid rgba(240, 120, 103, 0.295828);
  border-radius: 50%;
  color: #98918E;
  transition: all 0.2s;
}
.header-nav-links a:hover {
  background: #F07867;
  color: #fff;
}
.header-nav-menu, .header-nav-close {
  width: 48px;
  height: 48px;
  font-size: 20px;
  border: 1px solid rgba(240, 120, 103, 0.295828);
  border-radius: 50%;
  color: #98918E;
  transition: all 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  display: none;
}
.header-nav-menu:active, .header-nav-close:active {
  transform: scale(0.95);
  background: #F07867;
  color: #fff;
}
.header-main {
  display: flex;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.header-main-left {
  padding: 150px 0;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 35px;
}
.header-main-left h1 {
  font-size: 72px;
  font-weight: 400;
  color: #333;
}
.header-main-left p {
  font-weight: 400;
  font-size: 20px;
  color: #333;
}
.header-main-left-buttons {
  display: flex;
  gap: 30px;
}
.header-main-left-buttons a {
  padding: 12px 33px;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background: #F07867;
  border-radius: 8px;
  transition: all 0.2s;
  border: 1px solid #F07867;
}
.header-main-left-buttons a:active {
  transform: scale(0.95);
}
.header-main-left-buttons a:first-child:hover {
  border: 1px solid rgba(240, 120, 103, 0.295828);
  color: rgba(51, 51, 51, 0.503623);
  background: inherit;
}
.header-main-left-buttons a:last-child {
  background: inherit;
  border: 1px solid rgba(240, 120, 103, 0.295828);
  color: rgba(51, 51, 51, 0.503623);
  border: 1px solid rgba(240, 120, 103, 0.295828);
  color: rgba(51, 51, 51, 0.503623);
  transition: all 0.2s;
}
.header-main-left-buttons a:last-child:hover {
  color: #fff;
  background: #F07867;
}
.header-main-right {
  padding: 100px 0;
  width: 50%;
  position: relative;
}
.header-main-right img:nth-child(1) {
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 2;
  max-width: 170px;
  width: 100%;
}
.header-main-right img:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  max-width: 490px;
  width: 100%;
}
.header-main-right img:nth-child(3) {
  position: absolute;
  bottom: 0px;
  right: 0;
  z-index: 3;
  max-width: 170px;
  width: 100%;
}

@media (max-width: 992px) {
  .header-main-left h1 {
    font-size: 60px;
  }
  .header-main-left-buttons a {
    padding: 12px 30px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .header-nav-links {
    display: none;
  }
  .header-main {
    flex-direction: column;
  }
  .header-main-left {
    width: 100%;
    padding: 60px 0;
  }
  .header-main-right {
    width: 100%;
    height: 400px;
  }
}
@media (max-width: 600px) {
  .header-nav {
    padding: 16px 0;
  }
  .header-nav-menus {
    padding: 20px 20px;
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FDF0E9;
    color: #fff;
    display: flex;
    z-index: 99999;
  }
  .header-nav-menus a {
    width: auto 0;
    color: #333;
    font-size: 20px;
  }
  .header-nav .header-nav-menus.open {
    animation: open 0.8s;
    top: 0;
  }
  @keyframes open {
    0% {
      top: -100%;
    }
    100% {
      top: 0;
    }
  }
  .header-nav .header-nav-menus.close {
    animation: closed 0.8s;
    top: -100%;
  }
  @keyframes closed {
    0% {
      top: 0;
    }
    100% {
      top: -100%;
    }
  }
  .header-nav-menu {
    display: flex;
  }
  .header-nav-close {
    font-size: 25px;
    color: #333;
    display: flex;
    font-weight: bold;
  }
  .header-main-left p br {
    display: none;
  }
  .header-main-right img:nth-child(1) {
    top: 0px;
    max-width: 120px;
  }
  .header-main-right img:nth-child(2) {
    max-width: 350px;
  }
  .header-main-right img:nth-child(3) {
    max-width: 120px;
  }
}
@media (max-width: 400px) {
  .header-main-left h1 {
    font-size: 50px;
  }
  .header-main-left p {
    font-size: 16px;
  }
  .header-main-left-buttons a {
    font-size: 14px;
    padding: 10px 25px;
  }
}/*# sourceMappingURL=main.css.map */